$primary: #EFEFEF;
$secondary: #6BB4E5;
$tertiary: #7A5BBF;
$black: #656565;
$gray: #D8D8D8;
$silver: #E6E6E6;
$accent: #D1A84F;

$light: transparentize($primary, .2);
$line: transparentize($primary, .8);

$cancel: #F16D6D;