@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin adapt($rule, $width) {
	@media screen and (#{$rule}-width: #{$width}px) {
		@content;
	}
}


// UL Settings list
@mixin settings-list {
  width: 100%;
  margin-top: 1rem;
  & li {
		width: 100%;
		min-height: 4rem;
		padding: 0 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $line;
		& span {
			flex: 0 1 auto;
			margin-right: .25rem;
			font-weight: 700;
		}
		&:last-child {
			border: none;
		}
	}
}